body {
  background-color: rgb(235, 235, 235) ;
  color: darkslateblue;
  font-family: "Archivo Black", sans-serif;
}

h1 {
  font-size: 45px;
  color: rgb(10, 10, 73);
  padding: 0 auto
}

h2 {
  font-size: 22px;
  color: rgb(10, 10, 73)
}

.container {
  width: 700px;
  background-color: white;
  text-align: center;
  margin: 5px auto 10px auto;
  border: 22px;
  border-color: rgb(17, 1, 109);
  padding: 20px 10px;
}

.btn {
  background-color: rgb(10, 10, 73);
  color: white;
  border-radius: 8px;
  padding: 15px 15px;
  text-align: center;
  display: inline-block
}
.btn:hover {
  background-color: rgba(10, 10, 73, 0.6);
  color: rgb(230,230,230)
}

p {
  line-height: 1.8;
  padding: 5px 20px;
}

a {
  font-size: 12px;
  color: rgb(71, 8, 100);
  text-decoration: none
}

a:hover {
  color: rgb(145, 13, 206);
  opacity: 0.8
}

.profile-img {
  width: 200px;
  border-radius: 50%;
  padding: 0px;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.6);
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  display: inline;
  padding: 10px;
}

.link-list i {
  color: rgb(218, 218, 218);
  font-size: 55px;
}

.link-list i:hover {
  color: rgb(188, 188, 188);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
  h1 {
  font-size: 41px;
}
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
    h1 {
  font-size: 35px;
}
p {
  font-size: 14px;
}
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
    h1 {
  font-size: 25px;
}
h2 {
  font-size: 16px;
}
p {
  font-size: 12px;
}
}
